@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #E4E4E4;
  width: 100vw;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

.animate{
animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scrollbar::-webkit-scrollbar{
  display: none;
}